:root {
  --font-size-s: 0.75rem;
  --font-size-m: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;

  --font-family: 'Roboto', 'Roboto-Fallback', 'Franklin Gothic Medium', Tahoma, sans-serif;
  --font-family-medium:
    'Roboto-medium', 'Roboto-Fallback', 'Franklin Gothic Medium', Tahoma, sans-serif;
  --font-family-bold:
    'Roboto-bold', 'Roboto-Fallback', 'Franklin Gothic Medium', Tahoma, sans-serif;

  --black: hsl(228, 7%, 14%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(93, 98%, 40%);
  --grey-1: hsl(0, 0%, 97%);
  --grey-2: hsl(0, 0%, 93%);
  --grey-3: hsl(220, 2%, 64%);
  --grey-4: hsl(220, 2%, 50%);

  --base-text-color: var(--black);

  --space-xs: 0.25em;
  --space-s: 0.5em;
  --space-m: 0.75em;
  --space-l: 1em;
  --space-xl: 1.5em;
  --space-xxl: 2em;

  --box-shadow-light: hsl(240, 2%, 88%, 1);

  --border-radius-m: 0.5em;
}
