@import "@ingka/svg-icon/dist/style.css";
@import "@ingka/button/dist/style.css";
@import "@ingka/carousel/dist/style.css";
@import "@ingka/text/dist/style.css";
@import "@ingka/tabs/dist/style.css";
@import "@ingka/focus/dist/style.css";
@import "@ingka/accordion/dist/style.css";
@import "@ingka/text/dist/style.css";
@import "@ingka/table/dist/style.css";
@import "@ingka/modal/dist/style.css";
@import "@ingka/loading/dist/style.css";